<h1>View products</h1>

<p *ngIf="!(products$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New post</a>
</p>

<table class="table table-sm table-hover" *ngIf="(products$ | async)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Product Name</th>
      <th>Date</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of (products$ | async)">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.dt | date: "dd.MM.y" }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.amount }}</td>     
    </tr>
  </tbody>
</table>