<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register Form</mat-card-title>
      </mat-card-header>
  
      <form class="form-group"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
        <mat-card-content>
          <mat-form-field class="form-control-register">
            <input matInput formControlName = "userName" type="text" placeholder="Username" required>
          </mat-form-field>

          <mat-form-field class="form-control-register">
            <input matInput formControlName = "userSurname" type="text" placeholder="Surname" required>
          </mat-form-field>
  
          <mat-form-field class="form-control-register">
            <input matInput formControlName = "userEmail" type="email"  placeholder="Email" required>
          </mat-form-field>
  
          <mat-form-field class="form-control-register">
            <input matInput formControlName = "userPassword" type="password" placeholder="Password" required>
          </mat-form-field>
  
          <!-- <mat-form-field class="form-control">
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selected">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
  
        </mat-card-content>
        <mat-dialog-actions>            
            <button mat-stroked-button color="blue" class="mat-raised-button" type="submit">Register</button>
            <button class="mat-raised-button mat-primary" (click)="save()">Cencel</button>
          </mat-dialog-actions>
  
      </form>
    </mat-card>
  </div>
  