<h1 mat-dialog-title>{{data}}</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Product Name" type="text" formControlName="pName"  required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Product Price" type="number" formControlName="pPrice" required >
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Product amount" type="number" formControlName="pAmount" required>
      </mat-form-field>

      
      <p> Selected status: {{getStatus}} </p>
    <button mat-raised-button type="submit" color="primary">Save</button>
  </form>
  <mat-form-field class="selectedStatus">
    <mat-label>Select status</mat-label>
    <select matNativeControl [(ngModel)]="getStatus" name="stat">
      <option value="" selected></option>
      <option *ngFor="let stat of statuses" [value]="stat.value">
        {{stat.name}}
      </option>
    </select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>