<h2>Create new Product</h2>
<h1>{{actionType}} product post</h1>
<form [formGroup]="formEditCreate" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12">Product Name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="pName">
    </div>
    <span class="text-danger ml-3" *ngIf="pName.invalid && formDir.submitted">
      Title is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Product Price</label>
    <div class="col-md-12">
      <input class="form-control" type="number" min="0" max="250" formControlName="pPrice">
      <!-- <input type="number" class="form-control" min="0" max="250"
       [(ngModel)]="pPrice" placeholder="Price" /> -->
    </div>
    <span class="text-danger ml-3" *ngIf="pPrice.invalid && formDir.submitted">
      Price is required.
    </span>
  </div>
    <div class="form-group row">
      <label class=" control-label col-md-12">Product amount</label>
      <div class="col-md-12">
        <input class="form-control" type="number" min="0" max="4000" formControlName="pAmount">
      </div>
      <span class="text-danger ml-3" *ngIf="pAmount.invalid && formDir.submitted">
        Amount is required.
      </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Product status</label>
    <div class="col-md-12">
      <input class="form-control" type="checkbox"  formControlName="pStatus">
    </div>
    <span class="text-danger ml-3" *ngIf="pStatus ==  true">
    </span>
</div>

 
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Save changes</button>
    <button class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
  </div>
</form>