<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div><a href="/" target="_blank" class="positronx">Service App</a></div>
    <span class="nav-tool-items">
      <div style="float:right">
        <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
        <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
        <a mat-button mat-raised-button routerLink="products" routerLinkActive="active">Edit</a>
        <a (click)="logout()">
          <mat-icon class="icon">input</mat-icon>
          
                  <span class="label">LogOut</span>
        </a>
      </div>

  </span>
</mat-toolbar>

<router-outlet></router-outlet>